<!DOCTYPE html>
<html>
    <head>
        <title>Sample Fakebook Login</title>
    </head>
    <body>
        <h1>Willkommen bei Sample!</h1>
        {% if user.is_authenticated %}
        <p>Hallo {{ user.first_name }}  {{ user.last_name }}, hier folgt dein Profilbild:</p>
        <p><img src="https://graph.facebook.com/{{ view.uid }}/picture?width=200" alt="Dein Profilbild"/></p>
        <a href="/logout/">Logout</a>
        {% else %}
        <a href="{% url 'social:begin' 'facebook' %}">Login</a>
        {% endif %}
    </body>
</html>